.container {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto;
  padding: 10px;
}

.gridItem {
  margin: 5px;
  text-align: center;
  background-color: grey;
  color: white;
  display: flex;
  align-items: center;
  padding: 5px;
  justify-content: center;
  word-break: break-word;
}

.on {
  background-color: green;
}
